#container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    /* background: chocolate;
    background: -webkit-linear-gradient(to right, #fc4a1a,#f7b733);
    background: linear-gradient(to right, #fc4a1a,#f7b733); */
}

#refresh-btn{
    background: chartreuse;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

.education{
    background: lime;
    background: -webkit-linear-gradient(to right, #C9FFBF,#FFAFBD);
    background: linear-gradient(to right, #C9FFBF,#FFAFBD);
}

.recreational{

}

.social{

}

.diy{
    
}

.charity{
    background: pink;
    background: -webkit-linear-gradient(to right, #FF0099,#493240);
    background: linear-gradient(to right, #FF0099,#493240);
}

.cooking{
    
}

.relaxation{
    
}

.music{

}

.busywork{
    
}