html, body{
    margin: 0;
    padding: 0;
}

#container{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 90vh;
    margin: 0 auto;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #bdc3c7,#2c3e50);
    background: linear-gradient(to right, #bdc3c7,#2c3e50);
}

#refresh-btn{
    background: chartreuse;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

#container.education{
    background: lime;
    background: -webkit-linear-gradient(to right, #C9FFBF,#FFAFBD);
    background: linear-gradient(to right, #C9FFBF,#FFAFBD);
}

#container.recreational{
    background: #4DA0B0;
    background: -webkit-linear-gradient(to top, #4DA0B0,#D39D38);
    background: linear-gradient(to top, #4DA0B0,#D39D38);
}

#container.social{
    background: #F3F9A7;
    background: -webkit-linear-gradient(to bottom, #CAC531,#F3F9A7);
    background: linear-gradient(to bottom, #CAC531,#F3F9A7);
}

#container.diy{
    background: #3a7bd5;
    background: -webkit-linear-gradient(to bottom, #3a7bd5,#3a6073);
    background: linear-gradient(to bottom, #3a7bd5,#3a6073);
}

#container.charity{
    background: pink;
    background: -webkit-linear-gradient(to right, #FF0099,#493240);
    background: linear-gradient(to right, #FF0099,#493240);

}

#container.cooking{
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #a8c0ff,#40E0D0);
    background: linear-gradient(to right, #a8c0ff,#40E0D0);
}

#container.relaxation{
    background: #a8c0ff;
    background: -webkit-linear-gradient(to right, #a8c0ff,#3f2b96);
    background: linear-gradient(to right, #a8c0ff,#3f2b96);
}

#container.music{
    background: #40E0D0;
    background: -webkit-linear-gradient(to top, #40E0D0,#FF8C00, #FF0080);
    background: linear-gradient(to top, #40E0D0,#FF8C00, #FF0080);
}

#container.busywork{
    background: #333333;
    background: -webkit-linear-gradient(to left, #333333,#dd1818);
    background: linear-gradient(to left, #333333,#dd1818);
}